body {
  background: #f9f8fe;
  max-width: 1200px;
  margin: 0 auto;
}

.App a {
  text-decoration: none;
  margin-right: 3px;
  color: #8a2be2;
}

.App footer {
  text-align: center;
  margin: 40px 0;
}
