.Dictionary h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary {
  max-width: 700px;
}

.Dictionary section {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.Dictionary form {
  text-align: center;
}

.Dictionary input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
}

.Dictionary .hint {
  font-size: 14px;
  margin-top: 7px;
  color: #333;
}

.form-control {
  width: 500px;
  display: inline;
}
